body {
    min-height: 100vh;
    background-color: rgb(190, 223, 252);
    margin: 0;
}

:root {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title_con {
    background-color: rgb(1, 41, 65);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
    padding: 60px;
    text-align: center;
    /* margin: 0 */

}

/* after the section */



.flex_wrap {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* button and info styling  */

.addform {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    padding: 10px 0px;
}

button {
    border: 2px solid rgb(128, 128, 128);
    background-color: aliceblue;

}

button:hover {
    border: 2px solid rgb(0, 25, 78);

}

button:active {
    border: 2px solid black;
    background-color: rgb(201, 201, 201);
}
/* table styling */

table {
    border: 1px solid rgb(118, 119, 119);
    border-collapse: collapse;
    border-radius: 10px;
}

td, th {
    padding: 10px 20px;
    border: 1px solid black;
    text-align: center;
}

th, td:nth-child(even) {
    background-color: rgb(233, 233, 233);
}

td:nth-child(odd) {
    background-color: rgb(212, 235, 255);
}


/* form stuff  */

#popupForm {
    /* visibility: hidden; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform: 200ms ease-in-out;
    background-color: rgb(219, 214, 214);
    z-index: 10;
    border: 3px solid black;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    gap:  10px;
    justify-content: space-evenly;

}

#popupForm.active {
    transform: translate(-50%, -50%) scale(1);

}

#popupForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

#popupForm > form > div {
    display: flex;
    text-align: right;
    justify-content: space-between;
    gap: 3px;
}

#popupForm form button {
    flex: 0 auto;
    /* position: relative !important; 
    right: 0 !important;  */
    /* flex-grow: 0; */
    padding: 5px 10px;
}

input#pages {
    width: 3rem;
}
.formhead {
    background-color: rgb(190, 223, 252);
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

.formhead button {
    position: absolute;
    /* text-align: right; */
    /* margin-right: 10px; */
    right: 10px;
}
/* overlay */

#overlay {
    position: fixed;
    opacity: 0;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}